.App {
  background: url("../../elements/bg-outer.jpg");
  height: 561px;
  padding-top: 65px;
}

#container{
  width: 89%;
  margin: 0 auto;
}

#container-left{
  text-align: center;
  width: 60%;
  float: left;
  height: 500px;
  border-radius: 10px 0 0 10px;
  background: white url(../../elements/blibli-logo.png) no-repeat center;
  background-size: 40%;
}

#container-right{
  background-color: #2088cb;
  width: 30%;
  float: left;
  height: 385px;
  border-radius: 0 10px 10px 0;
  padding-top: 115px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Roboto-Light', sans-serif;
}

#container-right p{
  color: white;
  font-size: 16pt;
}

#logo-blibli{
  width: 30%;
  margin-top: 25%;
}

form input{
  width: 75%;
  display: block;
  border-radius: 20px;
  padding: 9px 20px;
  margin-bottom: 5%;
  border: none;
  outline: none; /*hide active border on active cursor*/
  font-family: 'Roboto-Light', sans-serif;
}

.btn-login {
  width: 25%;
  display: block;
  border: none;
  border-radius: 20px;
  padding: 9px 15px;
  margin-bottom: 5%;
  background-color: #89c4e6;
  color: #ffffff;
  font-family: 'Roboto-Light', sans-serif;
  outline: none;
}

.content {
    display: inline-block;
    background-color: #e0d9db;
    width: 80%;
    height: 626px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 5px 30px;
}