.tableHeader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 96.5%;
    height: 82px;
    border-radius: 5px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.35);
    padding: 2.8% 0 2.4%  2.4%;
    background-color: #2088cb;
    margin: auto;
    position: relative;
    z-index: 2;
}

.tableTitle {
    height: 18px;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.45;
    letter-spacing: normal;
    text-align: left;
    color: rgb(247, 243, 244);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.tableBody {
    box-sizing: border-box;
    height: 465px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.35);
    background-color: #fafbfc;
    position: relative;
    top: -40px;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    padding-top: 55px;
    padding-left: 20px;
}

.tableSingle {
    height: 528px;
}

.tableBody th {
    height: 16px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.47;
    text-align: left;
    color: #2088cb;
}

th, td {
    padding: 17px 0;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td {
    display: block;
}

tr:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 1px;
}

tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: auto;
}

tbody td, thead th {
    float: left;
}

.chkbox {
    margin-right: 20px;
}

th.chkbox {
    position: relative;
    top: -4.5px
}

.inventory, .detail, .stock, .available, .price, .productImage, .seeUsers {
    margin-right: 30px;
}

.inventory {
    width: 120px;
}

.detail{
    width: 180px;
}

.stock {
    width: 45px;
    text-align: center;
}

.available {
    width: 70px;
    text-align: center;
}

.price {
    width: 130px;
    text-align: left;
}

.moneyValue{
    float: right;
}

td.productImage {
    cursor: pointer;
}

.productImage {
    width: 50px;
    text-align: center;
}

.seeUsers {
    width: 71px;
    color: #2088cb;
    cursor: pointer;
}

.deleteIcon {
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.addNewBtn {
    float: right;
    vertical-align: top;
    position: relative;
    top: -20px;
    cursor: pointer;
}

.assignInventory {
    width: 115px;
    height: 31px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    float: right;
    padding: 5px 13px;
    box-sizing: border-box;
    margin-right: 30px;
    cursor: pointer;
}

.tulisanAssignInventory {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 0.47;
    color: rgba(32, 136, 203, 0.8);
}

.printIcon {
    width: 31px;
    height: 31px;
    object-fit: contain;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}

.blackBg{
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 768px;
    z-index: 3;
    opacity: 0.2;
    display: none;
}

.tableRequest{
    display: none;
    position: fixed;
    width: 441px;
    margin: auto;
    z-index: 4;
    top: 80px;
    left: 462px;
}

.tableRequest .tableHeader{
    height: 58px;
    padding: 18px 8px 0 18px;
}

.confirmationBtn{
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    position: relative;
    top: -5px;
    float: right;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.35);
    margin-right: 15px;
}

.tableAdd{
    display: none;
    position: fixed;
    width: 441px;
    margin: auto;
    z-index: 4;
    top: 170px;
    left: 462px;
}

.tableAdd .tableHeader{
    height: 58px;
    padding: 18px 8px 0 18px;
}

.tableAdd .tableBody{
    height: 228px;
}

.placeholder-image{
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
}

.tableAdd input, .tableAdd select, .tableAdd .inputText{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary);
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--primary);
    outline: none;
    padding: 4px;
    margin: 0 0 13px 15px;
}

input[type="date"]:not(.has-value):before{
    color: #84bdc4;
    content: attr(placeholder);
}

.tableAdd ::placeholder{
    color: #84bdc4;
}

.pcsWord{
    width: 23px;
    height: 9px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.47;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary);
    margin-left: 5px;
}