<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default"
>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <title>Inventory List</title>
    </head>

    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">

                <ul>
                    <li> <a id = "one" href = "#" > Inventory List </a></li >
                    <li> <a id = "two" href = "#" > Add Inventory </a></li >
                    <li> <a id = "three" href = "#" > Images </a></li >
                </ul>

                <div><ul id="file-list"></ul></div>

                <div class="container-right"></div>

                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </body>
</html>
