<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Show Inventory</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/about" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Inventory</a>
        </h3>
        <h2 th:text="${inventory.inventoryId}"></h2>
        <!--<h2><img th:src="${inventory.inventoryImg}" width="200" /></h2>-->
        <dl class="list">
            <dt>Detail</dt>
            <dd th:text="${inventory.detail}"></dd>
            <dt>Stock</dt>
            <dd th:text="${inventory.stock}"></dd>
            <dt>Price</dt>
            <dd th:text="${inventory.price}"></dd>
        </dl>
        <form action="/delete">
            <input type="hidden" name="_id" th:value="${inventory._id}" />
            <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                <a th:href="@{'/edit/' + ${inventory._id}}" class="btn btn-warning">Edit</a></h2>
        </form>
    </div>
</div>
</body>
</html>
