.tableHeaderDouble {
    box-sizing: border-box;
    width: 92.5%;
    height: 72px;
    border-radius: 5px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.35);
    padding: 30px;
    background-color: #2088cb;
    margin: auto;
    position: relative;
    z-index: 2;
}

.tableTitleDouble {
    height: 18px;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.45;
    letter-spacing: normal;
    text-align: left;
    color: rgb(247, 243, 244);
    float: left;
}

.tableBodyDouble {
    box-sizing: border-box;
    height: 475px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.35);
    background-color: #fafbfc;
    position: relative;
    top: -40px;
    z-index: 1;
    width: 100%;
    padding-top: 55px;
    padding-left: 20px;
}

.tableLeft {
    height: 528px;
    width: 70%;
    float: left;
}

.tableLeft .tableBodyDouble {
    border-radius: 10px 0 0 10px;
}

.tableRight {
    height: 528px;
    width: 30%;
    float: left;
}

.tableRight .tableBodyDouble {
    border-radius: 0 10px 10px 0;
}

.tableLeft tr {
    cursor: pointer;
}

.tableLeft tbody tr:hover {
    background-color: #d1e6f9;
}

.tableBodyDouble th {
    height: 16px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.47;
    letter-spacing: normal;
    text-align: left;
    color: #2088cb;
}

th, td {
    padding: 17px 0;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td {
    display: block;
}

tr:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 1px;
}

.tableBodyDouble tbody {
    height: 368px;
    overflow-y: auto;
    overflow-x: auto;
}

tbody td, thead th {
    float: left;
}

.assignment {
    width: 220px;
    margin-right: 15px;
    margin-left: 9px;
}

.requestDate {
    width: 150px;
    margin-right: 15px;
    text-align: center;
}

.tableLeft thead .requestDate{
    text-align: center;
}

.staff {
    width: 130px;
    margin-right: 15px;
}

tbody tr {
    border-top: solid 1px #f7f3f4;
}

.checkActive {
    width: 20px;
    margin-right: 3px;
    margin-left: 15px;
    position: relative;
    top: 3px;
}

.deleteActive {
    width: 17px;
    margin-right: 7px;
    margin-left: 23px;
    height: 17px;
    position: relative;
    top: 3px;
}

.itemName{
    width: 180px;
    margin-left: 10px;
}

th.itemQty, td.itemQty{
    width: 60px;
    text-align: center;
}

th.itemStatus, td.itemStatus {
    width: 60px;
    text-align: center;
    margin: 0 25px;
}

.tableRight tbody tr {
    height: 55px;
}

.stylingSearch {
    position: relative;
    top: -7px;
    left: 47px;
}