body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Light', sans-serif;
    --primary: #2088cb;
    --light: #fafbfc;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(./elements/font/Roboto-Light.ttf);
}