:root {
  --light: #fafbfc;
  --primary: #2088cb;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Light', sans-serif;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(./elements/font/Roboto-Light.ttf);
}